[submodule "abseil-cpp"]
	path = deps/abseil-cpp
	url = git@github.com:abseil/abseil-cpp.git
	shallow = true
	branch = bc257a88f7c1939f24e0379f14a3589e926c950c

[submodule "boost"]
	path = deps/boost
	url = git@github.com:boostorg/boost.git
	shallow = true
	branch = boost-1.88.0

[submodule "glm"]
	path = deps/glm
	url = git@github.com:g-truc/glm.git
	shallow = true
	branch = 1.0.1
